<div *ngIf="!client">
    <!-- <mat-progress-bar mode="indeterminate"></mat-progress-bar> -->
</div>
<div *ngIf="client" class="container-fluid">
    <div class="row">
        <div class="col-12">
          <app-button-back #btnBack></app-button-back>
        </div>
      </div>
  <div class="row mt-4">
    <div class="col-12">
        <h4> Detalles del Cliente </h4>
        <hr>
    </div>
  </div>
  <div class="row">
    <div class="col-8 d-flex justify-content-end">
      <button (click)="deleteClient()" mat-raised-button color="warn"> 
        <mat-icon> delete_forever </mat-icon>
        Eliminar 
      </button>
    </div>
  </div>
  <div class="row">
      <div class="col-8">
        <form class="full-width">
            <mat-form-field class="full-width">
              <input type="text" matInput placeholder="Nombres*" name="name" maxlength="254"
                 [(ngModel)]="client.name">
              <mat-icon matPrefix>edit</mat-icon>
            </mat-form-field>
            <mat-form-field class="full-width">
                <input type="text" matInput placeholder="Apellidos*" name="lastName" maxlength="254"
                 [(ngModel)]="client.lastName">
                <mat-icon matPrefix>edit</mat-icon>
            </mat-form-field>
            <mat-form-field class="full-width">
                <input type="text" matInput placeholder="DNI*" name="dni" maxlength="254"
                [(ngModel)]="client.dni">
                <mat-icon matPrefix>credit_card</mat-icon>
            </mat-form-field>
            <mat-form-field class="full-width">
                <input type="text" matInput placeholder="Dirección ( opcional )" maxlength="254"
                 name="address" [(ngModel)]="client.address" minlength="1" maxlength="255">
                <mat-icon matPrefix>add_location</mat-icon>
            </mat-form-field>
            <!-- <mat-form-field class="full-width">
                <input type="text" matInput placeholder="Dirección" value="">
            </mat-form-field> -->
            <div class=row>
              <div class="col-6">
                <mat-form-field class="full-width">
                    <input type="text" matInput placeholder="Teléfono 1" name="phone1" maxlength="254"
                     [(ngModel)]="client.phone1">
                    <mat-icon matPrefix>phone</mat-icon>
                </mat-form-field>
              </div>
              <div class="col-6">
                <mat-form-field class="full-width">
                    <input type="text" matInput placeholder="Teléfono 2 ( opcional )" maxlength="254"
                     name="phone2" [(ngModel)]="client.phone2">
                    <mat-icon matPrefix>contact_phone</mat-icon>
                </mat-form-field>
              </div>
              <div class="col-4 offset-4 mt-3">
                  <button (click)="updateClient()" class="full-width" mat-raised-button color="primary"> Actualizar  </button>
              </div>
            </div>
        </form>          
      </div>
      <div class="col-4 d-flex justify-content-center align-items-center">
            <div>
              <img class="img-fluid" src="./../../../../../assets/img/man2.png" alt="">
            </div>
          </div>
  </div>
</div>
