<div class="container-fluid" *ngIf="client && order">
    <div class="row">
      <div class="col-12">
        <app-button-back #btnBack></app-button-back>
      </div>
    </div>
    <div class="row mt-4">
      <div class="col-12">
        <h4> Editar Pedido </h4>
        <hr>
      </div>
    </div>
    <div class="row mt-2">
      <div class="col-12">
        <b>Cliente :</b> {{ client.name }} {{ client.lastName }}
      </div>
    </div>
    <div class="row mt-2">
      <div class="col-8 d-flex justify-content-end">
        <button mat-raised-button color="warn" (click)="delete(order.id)">
          <mat-icon> delete </mat-icon>
          Eliminar
        </button>
      </div>
    </div>
    <div class="row mt-4">
      <div class="col-12">
        <app-form-order [client]="client" [order]="order"></app-form-order>
      </div>
    </div>
  </div>