
<div class="side-nav">
    <div class="toggle-btn">
      <span><i class="material-icons text-white">menu</i></span>
    </div>
    <div class="user-data">
      <div class="container-fluid">
        <div class="row">
          <div class="col-12 d-flex justify-content-center">
            <img class="img-user" src="../../../../assets/img/user.png" alt="">
          </div>
          <div class="col-12 d-flex justify-content-center">
            <span class="text-white mt-2"> Jose Suarez </span>
          </div>
        </div>
      </div>
    </div>  
    <div class="list mt-3">
        <a routerLink="inicio"   routerLinkActive="active" class="item text-white d-flex justify-content-center">
          <i class="material-icons pr-1">home</i>  
          Panel Principal 
        </a>
        <a routerLink="clientes" routerLinkActive="active" class="item text-white d-flex justify-content-center">
          <i class="material-icons pr-1">person</i>  
            Clientes 
        </a>
        <a routerLink="ropa" routerLinkActive="active" class="item text-white d-flex justify-content-center">
          <i class="material-icons pr-1">assignment</i> 
          Ropa 
        </a>
        <a routerLink="clientes2" routerLinkActive="active" class="item text-white d-flex justify-content-center">
          <i class="material-icons pr-1">local_mall</i> 
          Pedidos 
        </a>
    </div>
</div>





