
<div class="side-nav">
    <div class="toggle-btn">
      <span><i class="material-icons text-white">menu</i></span>
    </div>
    <div class="user-data">
      <div class="container-fluid">
        <div class="row">
          <div class="col-12 d-flex justify-content-center">
            <img class="img-user" src="../../../../assets/img/user.png" alt="">
          </div>
          <div class="col-12 d-flex justify-content-center">
            <span class="text-white mt-2"> Jose Suarez </span>
          </div>
        </div>
      </div>
    </div>  
    <div class="list mt-3">
      <div class="item active">Panel Principal</div>
      <div class="item">Clientes</div>
      <div class="item">Prendas</div>
    </div>
</div>





