
<div id="side-nav" class="side-nav ">
    <div class="toggle-btn d-flex justify-content-end">
      <span><i (click)="toogleSideBar()" class="material-icons text-white">menu</i></span>
    </div>
    <div class="user-data">
      <div class="container-fluid">
        <div class="row">
          <div class="col-12 d-flex justify-content-center">
            <img class="img-user" src="../../../../assets/img/user.png" alt="">
          </div>
          <div class="col-12 d-flex justify-content-center">
            <span class="text-white mt-2"> Jose Suarez </span>
          </div>
        </div>
      </div>
    </div>  
    <div class="list mt-3">
        <a routerLink="inicio"   routerLinkActive="active" class="item text-white d-flex justify-content-center icon-right">
          <i class="material-icons pr-1 icon-item-right">home</i>  
           <span class="items-hide" > Panel Principal  </span>
        </a>
        <a routerLink="clientes" routerLinkActive="active" class="item text-white d-flex justify-content-center icon-right">
          <i class="material-icons pr-1 icon-item-right">person</i>  
            <span class="items-hide"> Clientes  </span>
        </a>
        <a routerLink="ropa" routerLinkActive="active" class="item text-white d-flex justify-content-center icon-right">
          <i class="material-icons pr-1 icon-item-right">assignment</i> 
          <span class="items-hide"> Ropa  </span>
        </a>
        <a routerLink="pedidos" routerLinkActive="active" class="item text-white d-flex justify-content-center icon-right">
          <i class="material-icons pr-1 icon-item-right">local_mall</i> 
          <span class="items-hide"> Pedidos  </span>
        </a>
    </div>
</div>





