<div class="container-fluid" *ngIf="client">
  <div class="row">
    <div class="col-12">
      <app-button-back></app-button-back>
    </div>
  </div>
  <div class="row mt-4">
    <div class="col-12">
      <h4> Sección de Medidas del Cliente </h4>
      <hr>
    </div>
  </div>
  <div class="row mt-2">
    <div class="col-12">
      <b>Cliente :</b> {{ client.name }} {{ client.lastName }}
    </div>
  </div>
  <div class="row mt-3">
    <div class="col-12">
        <button mat-raised-button color="primary" (click)="newMeasure()">
          Agregar nueva medida
        </button>
    </div>
  </div>
  <div class="row mt-4">
    <div class="col-12">
      <app-client-measures-table [clientId]="client.id"></app-client-measures-table>
    </div>
  </div>
</div>
