<div class="container-fluid">
  <div class="row">
    <div class="col-12">
      <app-button-back></app-button-back>
    </div>
  </div>
  <div class="row mt-4">
    <div class="col-12">
      <h4> Sección de Medidas del Cliente </h4>
      <hr>
    </div>
  </div>
  <div class="row mt-2">
    <div class="col-12">
        <button mat-raised-button color="primary">Agregar nueva medida</button>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <app-client-measures-table></app-client-measures-table>
    </div>
  </div>
</div>
