
<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <h4> Panel Principal </h4>
            <hr>
        </div>
    </div>

    <div class="row">
        <div class="money col-10 offset-1 col-lg-6 offset-lg-3">
            <div class="row  default-primary-color text-white title-money d-flex justify-content-center align-items-center">
                <span> Estado de Caja </span>
            </div>
            <div class="row body-money">
                <div class="col-3 d-flex justify-content-center align-items-center">
                    <img class="img-fluid img-money" src="../../../../assets/img/get-money.png" alt="">
                </div>
                <div class="col-9 d-flex flex-column  justify-content-center ">
                   <div class="row">
                        <div class="col-6">
                            <div class="row">
                                <div class="col-12">
                                    <div class=" box-title light-primary-color text-white
                                        d-flex justify-content-center align-items-center">
                                        Ingreso
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-12">
                                    <div class="box-body d-flex justify-content-center">
                                        S/. 100.00
                                    </div>
                                </div> 
                            </div>
                        </div>  
                        <div class="col-6">
                            <div class="row">
                                <div class="col-12">
                                    <div class=" box-title light-primary-color text-white
                                        d-flex justify-content-center align-items-center">
                                        Egresos
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-12">
                                    <div class="box-body d-flex justify-content-center">
                                        S/. 50.00
                                    </div>
                                </div> 
                            </div>
                    </div>  
                   </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row mt-5">
        <div class="col-12">
            <h6> Actividades más frecuentes </h6>
        </div>
    </div>

    <div class="row mt-4">
        <div class="col-12 col-md-6 col-lg-4 mt-1 mt-lg-0" *ngFor="let activity of activities">
            <app-shortcuts-pane [data]="activity"></app-shortcuts-pane>
        </div>
    </div>


</div>