
<div class="container-fluid">
    <div class="row">
        <form>
            <div class="col-8">
                <mat-form-field class="search-client">
                    <input matInput placeholder="Buscar un Cliente" value="Jose">
                </mat-form-field>
            </div>
            <div class="col-2">
                <button mat-raised-button color="primary">Buscar</button>
            </div>
        </form>
    </div>

    <div class="row mt-5">
        <div class="col-12">
            <h6> Actividades más frecuentes </h6>
        </div>
    </div>

    <div class="row mt-4">
        <div class="col-4">
            <app-shortcuts-pane></app-shortcuts-pane>
        </div>
        <div class="col-4">
            <app-shortcuts-pane></app-shortcuts-pane>
        </div>
        <div class="col-4">
            <app-shortcuts-pane></app-shortcuts-pane>
        </div>
    </div>


</div>