
<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <h4> Panel Principal </h4>
            <hr>
        </div>
    </div>
    <!-- <div class="row"></div>
        <form>
            <div class="col-8">
                <mat-form-field class="search-client">
                    <input matInput placeholder="Buscar un Cliente por DNI" value="">
                </mat-form-field>
            </div>
            <div class="col-2">
                <button mat-raised-button color="primary">Buscar</button>
            </div>
        </form>
    </div> -->

    <div class="row">
        <div class="col-6 offset-3">
            <div class="row  default-primary-color text-white title-money d-flex justify-content-center align-items-center">
                <span> Estado de Caja </span>
            </div>
            <div class="row body-money">
                <div class="col-3 d-flex justify-content-center align-items-center">
                    <img class="img-fluid img-money" src="../../../../assets/img/get-money.png" alt="">
                </div>
                <div class="col-9 d-flex flex-column  justify-content-center ">
                   <div class="row">
                        <div class="col-6">
                            <div class="row">
                                <div class="col-12">
                                    <div class=" box-title light-primary-color text-white
                                        d-flex justify-content-center align-items-center">
                                        Ingreso
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-12">
                                    <div class="box-body d-flex justify-content-center">
                                        S/. 100.00
                                    </div>
                                </div> 
                            </div>
                        </div>  
                        <div class="col-6">
                            <div class="row">
                                <div class="col-12">
                                    <div class=" box-title light-primary-color text-white
                                        d-flex justify-content-center align-items-center">
                                        Egresos
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-12">
                                    <div class="box-body d-flex justify-content-center">
                                        S/. 50.00
                                    </div>
                                </div> 
                            </div>
                    </div>  
                   </div>
                </div>
            </div>
        </div>
    </div>

    <!-- <div class="box">
            <div class="row">
                <div class="col-12">
                    <div class="col-6 box-title light-primary-color text-white
                        d-flex justify-content-center align-items-center">
                        Ingreso
                    </div>
                    <div class="col-6 box-body d-flex justify-content-center">
                        S/. 100.00
                    </div>
                </div>
            </div>
       </div> -->

    <div class="row mt-5">
        <div class="col-12">
            <h6> Actividades más frecuentes </h6>
        </div>
    </div>

    <div class="row mt-4">
        <div class="col-4" *ngFor="let activity of activities">
            <app-shortcuts-pane [data]="activity"></app-shortcuts-pane>
        </div>
    </div>


</div>