<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <h4> Sección de Clientes </h4>
            <hr>
        </div>
    </div>
    <div class="mt-2">
        <app-search-client></app-search-client>
    </div>
    <div class="row mt-5">
       <div class="col-12">
            <h6> Tareas Disponibles :  </h6>
       </div>
    </div>
    <div class="row mt-2">
        <div class="col-8 offset-2">
            <div class="row">
                <div class="col-6" *ngFor="let activity of activities">
                    <app-shortcuts-pane [data]="activity"></app-shortcuts-pane>
                </div>
            </div>
        </div>
    </div>
</div>