<div class="container-fluid">
  <div class="row">
    <div class="col-12">
        <app-button-back></app-button-back>
    </div>
  </div> 
  <div class="row mt-3">
    <div class="col-12">
        <h4> Registrar un Cliente </h4>
        <hr>
    </div>
  </div>
  <div class="row">
    <div class="col-10">
      <form class="full-width">
          <mat-form-field class="full-width">
            <input type="text" matInput placeholder="Nombres" value="">
            <mat-icon matPrefix>edit</mat-icon>
          </mat-form-field>
          <mat-form-field class="full-width">
              <input type="text" matInput placeholder="Apellidos" value="">
              <mat-icon matPrefix>edit</mat-icon>
          </mat-form-field>
          <mat-form-field class="full-width">
              <input type="text" matInput placeholder="DNI" value="">
              <mat-icon matPrefix>credit_card</mat-icon>
          </mat-form-field>
          <mat-form-field class="full-width">
              <input type="text" matInput placeholder="Dirección ( opcional )" value="" minlength="1" maxlength="255">
              <mat-icon matPrefix>add_location</mat-icon>
          </mat-form-field>
          <!-- <mat-form-field class="full-width">
              <input type="text" matInput placeholder="Dirección" value="">
          </mat-form-field> -->
          <div class=row>
            <div class="col-6">
              <mat-form-field class="full-width">
                  <input type="text" matInput placeholder="Teléfono 1" value="">
                  <mat-icon matPrefix>phone</mat-icon>
              </mat-form-field>
            </div>
            <div class="col-6">
              <mat-form-field class="full-width">
                  <input type="text" matInput placeholder="Teléfono 2 ( opcional )" value="">
                  <mat-icon matPrefix>contact_phone</mat-icon>
              </mat-form-field>
            </div>
            <div class="col-4 offset-4 mt-3">
                <button class="full-width" mat-raised-button color="primary"> Registrar Cliente </button>
            </div>
          </div>
      </form>          
    </div>
  </div>
</div>

