<div class="container-fluid">
  <div class="row">
    <div class="col-12">
      <app-button-back></app-button-back>
    </div>
  </div>
  <div class="row mt-4">
      <div class="col-12">
        <h4> Lista de Clientes </h4>
        <hr>
        <!-- <mat-divider [inset]="true"></mat-divider> -->
      </div>
  </div>
  <app-progress-bar *ngIf="loaded == false">  </app-progress-bar>
  <!-- <div class="row mt-4">
      <div class="col-12">
        <h6> Lista de todos los clientes </h6>
      </div>
    </div> -->
  <div class="row mt-4">
    <div class="col-12">
      <app-clients-table (loaded)="hideProgressBar($event)" ></app-clients-table>
    </div>
  </div>
</div>